.comment {
  padding-block-start: 40px;
  padding-block-end: 80px;
}

.comment-card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(39.7657px);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.comment-image {
  block-size: 64px;
}

.comment-card span {
  inline-size: 100%;
}

.comment-card span:first-of-type {
  font-family: var(--fontSecondary);
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;
}

.comment-card span:last-of-type {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .comment {
    padding-block: 80px;
  }

  .comment-card {
    padding: 80px;
  }

  .comment-image {
    block-size: 80px;
  }

  .comment-card span {
    text-align: center;
  }

  .comment-card span:first-of-type {
    font-size: 34px;
    line-height: 55px;
  }

  .comment-card span:last-of-type {
    font-weight: bold;
    font-size: 24px;
    line-height: 39px;
  }
}
