.message {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 40px;
}

.message span {
  font-size: 24px;
  line-height: 39px;
}

.message span:last-of-type {
  font-weight: bold;
}

.message-icon img {
  block-size: 80px;
}

@media screen and (min-width: 768px) {
  .message {
    padding-block: 200px;
  }

  .message span:first-child {
    font-weight: 300;
    font-size: 34px;
    line-height: 55px;
  }
}
